.community-container {
  margin-top: 111px;
  padding: 30px;
  background: #f9dcac;
}

.community-container-icon-discord {
  text-align: center;
  margin-top: 20px;
}

.icon-discord-community {
  width: 70px;
  height: auto;
}
.community-container-discord {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 33px 0;
}
.community-discord {
  width: 322px;
  height: 400px;
}

@media screen and (min-width: 768px) {
  .community-container {
    display: flex;
    justify-content: center;
  }
  .community-container-icon-discord {
    align-self: flex-end;
    margin-bottom: 11px;
  }
  .icon-discord-community {
    width: 88px;
    height: auto;
  }
  .community-discord {
    width: 700px;
    height: 500px;
  }
}
@media screen and (min-width: 1024px) {
  .community-discord {
    width: 900px;
    height: 600px;
  }
}
