@font-face {
  font-family: "paytone1";
  src: url(../../main/assets/fuentes/PaytoneOne-Regular.ttf);
}
.community-container-artcademi {
  text-align: center;
}
.community-text {
  font-family: "paytone1";
  color: var(--color-1);
  text-align: right;
  padding-right: 41px;
  line-height: 0em;
}
.community-container-icon-discord {
  text-align: center;
  margin-top: 20px;
}

.icon-discord-community {
  width: 101.9px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .community-container {
    display: flex;
    justify-content: center;
  }
  .community-container-icon-discord {
    margin-left: -34px;
    align-self: flex-end;
  }
  .icon-discord-community {
    width: 88px;
    height: auto;
    align-self: flex-end;
  }
  .logo-artcademi-community {
    width: 344px;
  }
  .community-text {
    margin-left: 38px;
    font-size: 24px;
  }
}
