.main-container-768 {
  margin-top: 111px;
  padding: 30px;
  background: #fff;
}
.main-container-thumb {
  display: flex;
  justify-content: center;

  margin-bottom: 25px;
}
.main-container-follow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container-follow img {
  width: 222px;
  opacity: 0.15;
  height: auto;
}
.hero-text-seguir {
  position: absolute;
  font-family: "latina1";
  font-size: 24px;
  color: var(--color-4);
  text-align: center;
}
.arte-1 {
  color: var(--color-1);
}
.arte-2 {
  color: var(--color-3);
}
.arte-3 {
  color: var(--color-2);
}
.arte-4 {
  color: var(--color-4);
}
.main-text-connect {
  font-family: "paytone1";
  font-size: 35px;
  letter-spacing: -1px;
  text-align: center;
  color: var(--color-1);
}
.main-text-follow {
  font-family: "latina3";
  font-size: 24px;
  text-align: center;
  color: var(--color-4);
}
.main-container-button {
  text-align: center;
  margin: 20px 0;
}
.main-button {
  width: 187px;
  height: 62px;
  outline: none;
  border-radius: 35px;
  background: var(--color-2);
  border: 1px solid var(--color-2);
  box-shadow: -2px 5px 8px 0 rgba(0, 0, 0, 0.6);
}
.main-button:active {
  transform: scale(0.9);
}
.main-button a {
  font-family: "latina3";
  font-size: 22px;
}
.main-container-how {
  font-family: "paytone1";
  font-size: 35px;
  line-height: 1em;
  margin-top: 111px;
  margin-bottom: 33px;
  text-align: center;
}
.main-how {
  color: var(--color-4);
}
.main-start {
  color: var(--color-2);
}
/* .main-code {
  font-family: "latina4";
  font-size: 21px;
  color: var(--color-1);
  text-align: center;
} */
.main-text-code {
  font-family: "latina4";
  font-size: 20px;
  color: var(--color-1);
  text-align: center;
}
.main-content-img-code {
  text-align: center;
  margin: 30px 0;
}
.img-code {
  width: 322px;
  height: 321px;
}
.main-text-joinUp {
  font-family: "latina4";
  font-size: 20px;
  color: var(--color-2);
  text-align: center;
}
.main-content-img-scearch {
  text-align: center;
  margin: 30px 0;
}
.img-scearch {
  width: 321px;
  height: 321px;
}
.main-text-barter {
  font-family: "latina4";
  font-size: 20px;
  color: var(--color-3);
  text-align: center;
}
.main-content-img-barter {
  text-align: center;
  margin: 30px 0;
}
.img-barter {
  width: 323px;
  height: 321px;
}
@media screen and (min-width: 768px) {
  .main-container-768 {
    margin-top: 11px;
  }
  .main-container-thumb {
    display: none;
  }
  .main-container-follow {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-container-follow img {
    width: 311px;
    opacity: 0.5;
    height: auto;
  }
  .hero-text-seguir {
    position: absolute;
    font-size: 30px;
    line-height: 1em;
  }
  .main-text-connect {
    font-size: 54px;
  }
  .main-text-follow {
    font-size: 44px;
    line-height: 1em;
  }
  .main-container-how {
    font-size: 54px;
    text-align: initial;
    padding-left: 88px;
  }
  .img-code {
    content: url(../images/artcademi-iniciotipX2.png);
  }
  .main-container-code {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .main-text-code {
    padding: 0 22px;
    align-self: center;
  }
  .img-scearch {
    content: url(../images/artcademi-iniciobuscarX2.png);
  }

  .main-container-joinUp {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .main-text-joinUp {
    padding: 0 33px;
    align-self: center;
  }
  .img-barter {
    content: url(../images/artcademi-iniciocomunicarX2.png);
  }
  .main-container-barter {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .main-text-barter {
    align-self: center;
  }
}

@media screen and (min-width: 1024px) {
  .main-container-768 {
    display: grid;
    grid-template-areas: "thumb follow jdilla";
    padding-left: 44px;
  }
  .main-container-thumb {
    grid-area: thumb;
    display: block;
  }
  .thumb-up {
    width: 155px;
  }
  .main-tex-container {
    grid-area: jdilla;
  }
  .main-container-follow-button {
    display: grid;
    grid-template-areas: "text button";
    align-items: center;
  }
  .main-container-follow {
    grid-area: follow;
  }
  .main-text-connect {
    letter-spacing: -2px;
  }
  .main-text-point-connect {
    color: var(--color-4);
  }
  .main-text-follow {
    grid-area: text;
    font-size: 20px;
    line-height: 1.5em;
  }
  .main-container-button {
    grid-area: button;
  }
  .main-container-how {
    font-size: 44px;
    margin-top: 0;
  }
  .main-container-all {
    display: grid;
    grid-template-columns: [file1]1fr [file2]1fr [file3]1fr [file4]1fr [file5]1fr[finish];
    grid-template-rows: [file1]1fr[finish];
  }
  .main-container-code {
    grid-column: file2 / file3;
  }
  .main-content-img-code {
    grid-row: file2 / finish;
  }
  .img-code {
    width: 307px;
    height: auto;
  }
  .main-container-joinUp {
    grid-column: file3 / file4;
  }
  .main-content-img-scearch {
    grid-row: file2 / finish;
  }
  .img-scearch {
    width: 307px;
    height: auto;
  }
  .main-container-barter {
    grid-column: file4 / file5;
  }
  .main-content-img-barter {
    grid-row: file2 / finish;
  }
  .img-barter {
    width: 307px;
    height: auto;
  }
}
