.known-text-main {
  font-family: "paytone1";
  font-size: 35px;
  text-align: center;
  line-height: 1em;
}

.known-text-1 {
  color: var(--color-1);
}
.known-text-2 {
  color: var(--color-2);
}
.known-text-3 {
  color: var(--color-3);
}
.container-button-knowUs {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.button-knowUs {
  position: absolute;
  width: 230px;
  height: 76px;
  padding-top: 4px;
  padding-bottom: 2px;
  background: #148cc9;
  border-radius: 38px;
  border: 1px solid #148cc9;
  box-shadow: -2px 5px 8px 0 rgba(0, 0, 0, 0.6);
}
.fondo-patreon {
  width: 322.3px;
  height: auto;
  background: url(../images/fondo-patreon.png);
  background: no-repeat;
}
.logo-patreon-known {
  width: 121.6px;
  height: auto;
}
.contact-text-content {
  font-family: "latina4";
  font-weight: 600;
  text-align: center;
  color: var(--parrafo);
}
.container-contact-member {
  text-align: center;
  margin-top: 111px;
}
.member-orange {
  margin-bottom: 60px;
}
.member-blue {
  margin-bottom: 60px;
}
.member-purple {
  margin-bottom: 111px;
}
@media screen and (min-width: 768px) {
  .members-container-all {
    margin-top: 111px;
  }
  .known-text-main {
    font-size: 54px;
  }
  .contact-text-content {
    font-size: 22px;
    padding: 0 136px;
  }
  .container-contact-member {
    display: flex;
    justify-content: space-between;
    margin-bottom: 111px;
    padding: 0 30px;
  }
  .member-orange {
    width: 187px;
    margin-bottom: initial;
  }
  .member-blue {
    width: 187px;
    margin-bottom: initial;
  }
  .member-purple {
    width: 187px;
    margin-bottom: initial;
  }
}
@media screen and (min-width: 1024px) {
  .known-container-main {
    grid-template-columns: 15% [texto]1fr [patreon]1fr;
    grid-template-rows: [file1]100px [file2]1fr;
    display: grid;
    margin-top: 111px;
  }
  .container-button-knowUs {
    grid-area: patreon;
    margin-top: -77px;
  }
  .fondo-patreon {
    width: 226px;
  }
  .button-knowUs {
    width: 140px;
    height: 48px;
  }
  .logo-patreon-known {
    width: 88px;
  }
  .container-text-known {
    grid-area: texto;
    grid-row: file1;
  }

  .known-text-main {
    font-size: 44px;
    text-align: left;
  }
  .container-contact-text {
    grid-area: texto;
    margin-top: 20px;
  }
  .contact-text-content {
    font-size: 20px;
    padding: 0 44px;
    text-align: left;
  }
  .contact-text-content {
    padding: initial;
  }
  .container-contact-member {
    margin-top: 40px;
    justify-content: space-around;
  }
  .member-orange {
    width: 243px;
  }
  .member-blue {
    width: 243px;
  }
  .member-purple {
    width: 243px;
  }
}
