.members-text-main {
  font-family: "paytone1";
  font-size: 35px;
  text-align: center;
  line-height: 1em;
}

.members-text-1 {
  color: var(--color-1);
}
.know-a {
  color: var(--color-1);
}
.know-r {
  color: var(--color-2);
}
.know-t {
  color: var(--color-3);
}
.members-text-2 {
  color: var(--color-4);
}
.members-text-3 {
  color: var(--color-2);
}
.members-text-4 {
  color: var(--color-3);
}
.container-button-knowUs {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.button-knowUs {
  position: absolute;
  width: 230px;
  height: 76px;
  padding-top: 4px;
  padding-bottom: 2px;
  background: #148cc9;
  border-radius: 38px;
  border: 1px solid #148cc9;
  box-shadow: -2px 5px 8px 0 rgba(0, 0, 0, 0.6);
}
.fondo-patreon {
  width: 322.3px;
  height: auto;
  background: url(../images/fondo-patreon.png);
  background: no-repeat;
}
.logo-patreon-known {
  width: 121.6px;
  height: auto;
}
.contact-text-content {
  font-family: "latina2";
  font-size: 20px;
  text-align: center;
  color: var(--parrafo);
}
.container-contact-member {
  text-align: center;
  margin-top: 111px;
}
.member-orange {
  width: 311px;
  margin-bottom: 60px;
}
.member-blue {
  width: 311px;
  margin-bottom: 60px;
}
.member-purple {
  width: 311px;
  margin-bottom: 111px;
}
@media screen and (min-width: 768px) {
  .members-container-all {
    margin-top: 111px;
  }
  .members-text-main {
    font-size: 56px;
  }
  .contact-text-content {
    font-size: 22px;
    padding: 0 136px;
  }
  .container-contact-member {
    display: flex;
    justify-content: space-between;
    margin-bottom: 111px;
    padding: 0 30px;
  }
  .member-orange {
    width: 187px;
    margin-bottom: initial;
  }
  .member-blue {
    width: 187px;
    margin-bottom: initial;
  }
  .member-purple {
    width: 187px;
    margin-bottom: initial;
  }
}
@media screen and (min-width: 1024px) {
  .members-container-main {
    display: grid;
    grid-template-areas:
      "title ."
      "texto patreon";
    margin-top: 111px;
  }
  .container-button-knowUs {
    grid-area: patreon;
    margin-top: -77px;
  }
  .fondo-patreon {
    width: 226px;
  }
  .button-knowUs {
    width: 140px;
    height: 48px;
  }
  .logo-patreon-known {
    width: 88px;
  }
  .members-container-title {
    grid-area: title;
  }

  .members-text-main {
    text-align: left;
  }
  .container-contact-text {
    grid-area: texto;
    margin-top: 20px;
  }
  .contact-text-content {
    padding: initial;
    font-size: 20px;
    padding-right: 44px;
    text-align: left;
  }
  .container-contact-member {
    margin-top: 40px;
    justify-content: space-around;
  }
  .member-orange {
    width: 243px;
  }
  .member-blue {
    width: 243px;
  }
  .member-purple {
    width: 243px;
  }
}
