.container-logo-main {
  display: flex;
  justify-content: center;
  background: var(--background);
  padding: 33px 0;
  margin: 33px 0;
}
@media screen and (min-width: 768px) {
  .container-main-photo-card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .container-main-photo-card {
    display: flex;
    justify-content: space-evenly;
  }
}
