.container-logo-team {
  display: flex;
  justify-content: center;
  margin-top: 111px;
}

.hero-know-title {
  font-family: "paytone1";
  font-size: 35px;
  text-align: center;
  line-height: 1em;
  margin-top: 111px;
  margin-bottom: 33px;
}
.hero-know-text {
  font-family: "latina2";
  font-size: 20px;
  line-height: 1.3em;
  text-align: center;
  color: var(--parrafo);
}
.container-hero-know-logo {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .hero-know-title {
    padding: 0 122px;
  }
  .hero-know-text {
    text-align: initial;
    line-height: 1.4em;
    padding: 0px 144px;
  }
}
