.img-header-dfhilo {
  max-width: 100%;
  margin-top: 111px;
}
.dfhilo-container {
  border: 1px solid#fff;
  margin-top: -4px;
  padding: 0 30px 33px;
}
.container-photo-dfhilo {
  text-align: center;
  margin-bottom: 33px;
  padding-top: 33px;
}
.dfhilo-text-junior {
  font-family: "latina1";
  font-size: 26px;
  color: var(--color-4);
  margin-left: 4px;
}
.dfhilo-text-dfhilo {
  font-family: "latina3";
  color: var(--color-4);
  font-size: 26px;
}
.dfhilo-text-designer {
  font-family: "latina5";
  font-size: 22px;
  margin-bottom: 33px;
  color: var(--color-1);
}
.dfhilo-text-designer-content {
  font-family: "latina4";
  font-size: 21px;
  padding: 30px;
  background: #fff;
}
.logo-dfilo-hoz {
  text-align: center;
  margin: 44px 0;
}
.logo-dfilo-hoz img {
  width: 75px;
  height: 122px;
}
.container-icon-dfhilo {
  padding-left: 33px;
}
.container-nets-be {
  display: flex;
  align-items: center;
}
.dfhilo-nets-be {
  font-family: "latina2";
  font-size: 12px;
  margin-left: 11px;
  color: var(--parrafo);
}
.icon-be-dfhilo {
  width: 47px;
  height: 39px;
}
.container-nets-linkedin {
  display: flex;
  align-items: center;
  margin: 11px 0;
}
.dfhilo-nets-linkedin {
  font-family: "latina2";
  font-size: 12px;
  margin-left: 11px;
  color: var(--parrafo);
}
.icon-linkedin-dfhilo {
  width: 47px;
  height: 39px;
}
.icon-dfhilo-dfhilo {
  width: 47px;
  height: 39px;
}

@media screen and (min-width: 768px) {
  .img-header-dfhilo {
    content: url(../../component/images/artcademi-prototipodfhiloX2.png);
  }
  .container-photo-dfhilo {
    display: none;
  }
  .logo-dfilo-hoz img {
    display: none;
  }
  .container-component-dfhilo {
    display: grid;
    grid-template-areas: "bio nets";
    grid-template-columns: 55% 45%;
    grid-template-rows: 1fr 0;
  }
  .dfhilo-nick-name {
    display: flex;
    justify-content: space-between;
    margin-top: 44px;
  }
  .dfhilo-text-junior {
    margin-left: initial;
    margin-right: -50px;
  }
  .component-text {
    grid-area: bio;
  }
  .component-nets {
    grid-area: nets;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 111px;
  }
}
