.container-hero-artist {
  background-image: url(../../componentHome/images/hero-fondo.png);
  background-position: top 0 left 0;
  background-repeat: no-repeat;
}
.container-img-artist {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 77px;
  padding-bottom: 33px;
  margin-bottom: 33px;
}
.heroartis-background {
  position: absolute;
}
.heroartis-container-logo-community {
  position: relative;
}
.img-hero-artist {
  width: 244px;
  height: auto;
  margin-top: 44px;
}
.hero-text-community {
  font-family: "latina1";
  color: var(--color-4);
  text-align: end;
  padding-bottom: 69px;
  margin-top: -11px;
}

.hero-text-artist-paragraph {
  font-family: "latina2";
  font-size: 20px;
  text-align: center;
  margin: 44px 0;
  color: var(--parrafo);
}
@media screen and (min-width: 768px) {
  .container-hero-artist {
    background-image: url(../../componentHome/images/hero-fondo-768.png);
    background-position: top 0 left 0;
    background-repeat: no-repeat;
    background-size: 95%;
  }

  .container-hero-artist::before {
    background: linear-gradient(-28deg, transparent, #cfe1da);
  }
  .container-all-hero-artist {
    display: grid;
    grid-template-rows: [file1]1fr [file2]320px[finish];
  }
  .container-hero-artist-text {
    margin-top: 111px;
    grid-row: file1 / file2;
  }
  .container-img-artist {
    text-align: center;
    grid-row: file2 / finish;
    padding-bottom: initial;
  }

  .hero-text-artist-paragraph {
    padding: 0 88px;
    margin: 11px 0;
  }
}
@media screen and (min-width: 1024px) {
  .container-hero-artist {
    background-image: url(../../componentHome/images/hero-fondo-768.png),
      url(../../componentHome/images/artcademi-backwhatsappX2.png);
    background-position: top 0 left 0, top 0 right 0;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, 188px;
  }
  .container-all-hero-artist {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "text img";
    grid-template-rows: 1fr;
  }
  .container-img-artist {
    grid-area: img;
    align-self: end;
  }
  .heroartis-background {
    width: 388px;
    height: 288px;
    overflow: hidden;
  }
  .img-hero-artist {
    width: 311px;
  }
  .container-hero-artist-text {
    grid-area: text;
  }

  .hero-text-artist-paragraph {
    text-align: initial;
    margin: 33px 0;
    padding: initial;
    line-height: 1.4em;
  }
}
