.ninjart-container-logo {
  display: flex;
  justify-content: center;
  background: var(--background);
  padding: 33px 0;
  margin-top: 33px;
}
.ninjart-container-all {
  background: var(--background);
  margin: 33px 0;
  padding: 30px 33px;
}
.ninjart-container-title {
  padding-top: 33px;
}
.ninjart-subtitle {
  font-family: "latina1";
  font-size: 20px;
  color: var(--color-4);
  text-align: center;
  margin: 11px 0;
}
.ninjart-container-img {
  display: flex;
  justify-content: center;
  padding-bottom: 33px;
}
.ninjart-img {
  object-fit: none;
}
@media screen and (min-width: 768px) {
  .ninjart-subtitle {
    margin: 11px 0 44px;
  }
  .ninjart-container-img {
    padding-top: 44px;
  }
}
@media screen and (min-width: 1024px) {
  .ninjart-container-all {
    display: grid;
    grid-template-areas:
      "title ."
      "texto img";
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
  }
  .ninjart-container-title {
    grid-area: title;
    text-align: left;
  }
  .ninjart-subtitle {
    margin: initial;
    margin-top: 11px;
    text-align: right;
  }
  .hero-text-artist-paragraph {
    grid-area: texto;
  }
  .ninjart-container-img {
    padding-top: initial;
    grid-area: img;
    align-items: center;
    margin-top: -111px;
  }
}
