.hero-container-button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.hero-button {
  width: 322px;
  height: 40.3px;
  cursor: pointer;
  outline: none;
  border: 1px solid #148cc9;
  border-radius: 26px;
  background: #148cc9;
  box-shadow: -2px 5px 8px 0 rgba(0, 0, 0, 0.6);
}
.hero-button:active {
  transform: scale(0.9);
}
.hero-button a {
  font-family: "latina3";
  font-size: 14px;
}

@media screen and (min-width: 1024px) {
  .hero-container-button {
    justify-content: initial;
  }
}
